BossHealth
{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	padding: 2px;
	border-radius: 10px;
	
}
.fill {
	height: 100%;
	width: 80%;
	background-color: #ff0000;
	border-radius: 10px;
}