@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="title">
		<h1>Read me</h1>
		<h2>WASD--Move</h2>
		<h2>SHIFT--Low Speed</h2>
		<h2>MOUSE1--Shoot</h2>
		<h2>MOUSE2--Bomb</h2>
	</div>
	
</root>

@code
{

	
}
