{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "player": "Ignore",
    "bullet": "Ignore",
    "playerbullet": "Ignore",
    "pickup": "Ignore",
    "enemy": "Ignore"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Ignore"
    },
    {
      "a": "bullet",
      "b": "bullet",
      "r": "Ignore"
    },
    {
      "a": "bullet",
      "b": "playerbullet",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "bullet",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "bullet",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "pickup",
      "r": "Trigger"
    },
    {
      "a": "trigger",
      "b": "pickup",
      "r": "Trigger"
    },
    {
      "a": "bullet",
      "b": "pickup",
      "r": "Ignore"
    },
    {
      "a": "playerbullet",
      "b": "pickup",
      "r": "Ignore"
    },
    {
      "a": "pickup",
      "b": "pickup",
      "r": "Ignore"
    },
    {
      "a": "playerbullet",
      "b": "playerbullet",
      "r": "Ignore"
    },
    {
      "a": "pickup",
      "b": "enemy",
      "r": "Ignore"
    },
    {
      "a": "playerbullet",
      "b": "enemy",
      "r": "Trigger"
    },
    {
      "a": "bullet",
      "b": "enemy",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "playerbullet",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "playerbullet",
      "r": "Trigger"
    },
    {
      "a": "trigger",
      "b": "enemy",
      "r": "Trigger"
    },
    {
      "a": "solid",
      "b": "enemy",
      "r": "Trigger"
    },
    {
      "a": "enemy",
      "b": "enemy",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "pickup",
      "r": "Trigger"
    },
    {
      "a": "trigger",
      "b": "trigger",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "enemy",
      "r": "Trigger"
    },
    {
      "a": "trigger",
      "b": "bullet",
      "r": "Trigger"
    },
    {
      "a": "trigger",
      "b": "playerbullet",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "player",
      "r": "Collide"
    }
  ],
  "__guid": "6e327c01-02e7-4b41-a9ed-522e9500a128",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}